@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
    background-color: red ;
}
.dropdown {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.preview  {
  background: transparent;
  scrollbar-width: none; /* Firefox */
  filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
  filter: drop-shadow(0px 0px 30px rgb(0, 0, 0));
}

.preview::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.dropdown::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.copied-notigication {
  transition: top 0.3s ease-in-out;
}

.code {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-shrink: 0;
}

.codefile {
  mask-image: linear-gradient(
    to bottom,

    black,
    black,
    black,
    black,
    black,
    transparent
  );
}

.codecard {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.codes {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

}

.loginform{
  mask-image: linear-gradient(black,white);
}

.bt {
  transition: 1s ease;
}

.loginbtn:hover {
  
}



.dropdown-expand{
  backdrop-filter: blur(20px);
}

.notfound{
  background-image: linear-gradient( to top, black, white);
  background-clip: text;
  color: transparent;
}

.AI{
  filter: drop-shadow( 0px 0px 20px rgb(0, 0, 0)); ;
  filter: drop-shadow( 0px 0px 50px rgb(0, 0, 0)); ;
  filter: drop-shadow( 0px 0px 100px rgb(0, 0, 0)); ;
}

.ai-image{
  mask-image: linear-gradient(
      black ,
      black ,
      transparent
  );
}

.AI{
  font-family: "inter", sans-serif;
}